.Table {
  border: none;

  th {
    color: orange;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }

  th:first-child {
    color: white;
    border-left: none;
  }

  th:nth-child(2n+1){
    border-left: none;
  }

  td {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
  }

  td:first-child {
    border-left: none;
  }

  td:nth-child(2n+1){
    border-left: none;
  }

  tr:nth-child(even) {
    color: white;
    background-color: transparent;
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}