.Table {
  border: 1px solid #989898;
  border-spacing: 0;

  td, th {
    text-align: left;
    padding: 20px;
  }

  tr:nth-child(even) {
    color: black;
    background-color: rgba(75, 177, 239, 0.96);
  }
}
